[Unit]
Description=Ambient lightning LED strip control daemon glowd
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/glowd
User=daemon
StandardOutput=null

[Install]
WantedBy=multi-user.target
